*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ffebeb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;    
}

p {
    margin-bottom: 20px;
    line-height: 1.5em;
}

h3 {
    margin-bottom: 20px;
    border-bottom: 1px solid #fffefe;
}

a {
    text-decoration: none;
    color: #fffefe;
}

a:hover{
    color: #333;
}

.container {
    max-width: 1080px;
    margin: 20px auto;
    background: #262323;
    overflow: hidden;
    padding: 10px;
}

.header {
    border: 1px solid #6da9e4;
    padding: 10px;
    margin: 10px;
    background: #9e9afb;
}

/*   utama.  */

.left{
    width: 250px;
    border: 1px solid #6da9e4;
    padding: 10px;
    margin: 10px;
    float: left;
}

.left ul li a {
    display: block;
    border-bottom: 1px solid #6da9e4;
    margin-bottom: 10px;
    padding: 10px 5px;
    font-color: #6da9e4
}

.left ul li a:hover {
    color: #461af3;
}

.middle a{
    font-wight: bold;
}

.right {
    width: 250px;
    border: 1px solid #6da9e4;
    padding: 10px;
    margin: 10px;
    float: left;
}

.right ul {
    list-style-type: none;
}

.right ul li{
    display: block;
}

.right ul li a {
    display: block;
    border-bottom: 1px solid #6da9e4;
    margin-bottom: 10px;
    padding: 10px 5px;
}

.right ul li a:hover{ 
    color: #461af3;
}

.footer {
    clear: both;
    border: 1px solid #6da9e4;
    padding: 15px;
}

img {
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the image's aspect ratio */
  display: block;  /* Removes extra space below the image, treating it as a block element */
}

/* bagian responsive */
@media screen and (max-width:1080px) {

    .container {
        width: 100%;
    }

    .left {
        width: 25%;
        background: #ade4db;
    }

    .middle {
        width: 68%;
        float: right;
    }

    .right {
        clear: both;
        padding: 1% 4%;
        width: auto;
        float: none;
        background: #ade4db;
    }

}

/* 700px ke bawah (hp kentang) */

@media screen and (max-width: 780px) {
    .header,
    .footer {
        text-align: center;
    }

    .left {
        width: auto;
        float: none;
    }

    .middle {
        width: auto;
        float: none;
    }
}